<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
  
  </appSettings>
  <connectionStrings>
    <add name="Abp.Redis.Cache" connectionString="192.168.166.169:6379" />
  </connectionStrings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
